*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
    text-align: center;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
}

nav{
    background-color: black;
    /* background-color: transparent; */
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-around;
    overflow-y: hidden;
    position: sticky;
    top: 0px;

}

nav ul li a:hover{
    color: yellow;
}

ul{
    display: flex;
    gap: 20px;
    /* margin-right: 200px; */
    list-style-type: none;
    
}
a{
    color: white;
    text-decoration: none;
    
}

#backgroundvideo{
    width: 100vw;
    z-index: -2;
    /* object-fit: cover; */
    /* position: fixed; */
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    filter:opacity(0.6);
    /* box-shadow: inset 0 0 0 500px rgb(0, 0, 0); */
}

nav input{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    width: 300px;
    padding: 5px;
    
}

.menu{
    display: flex;
    gap: 20px;
    padding: 0px 20px;
}
.new-arrivals,.a1,.a2,.a3,.b1,.b2,.b3{
    color: aliceblue;
    margin: 20px;
    border-radius: 50px;
    box-shadow: 0 0 5PX turquoise, 0 0 25PX CYAN;
}

.new-arrivals:hover,.a1:hover,.a2:hover,.a3:hover,.b1:hover,.b2:hover,.b3:hover{
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan , 0 0 100px cyan , 0 0 200px cyan;
}
.new-arrivals{
    background-color:black;
}

.testi{
     height: 500px;
     text-align: center;
     background-color:black;
     /* border: 2px solid red; */
     margin-top: 100px;
     margin-bottom: 100px;
     display: flex;
     gap: 40px;
} 
.square1{
    background-color:black;
    height: 500px;
    width: 500px;
    text-align: center;
    justify-content: center; 
    margin-top: 0px;
    margin-left: 40px;
    /* border: 2px solid grey; */
    border-radius: 20px;
    
    
}


.about{
    height: 490px;
    width: 1200px;
    /* background-color: red; */
    margin-top:5px;
    margin-right: 5px;
    padding: 0px 100px;
}
.abt{
    color: antiquewhite;
}
p{
    color: white;
    text-align: center;

}
.now{
     /* background-color: white;  */
    height: 510px;
    margin-top: 0px;

    /* border: 3px solid brown; */
}
.available,.available2{
    height: 250px;
    width: 1460px;
    /* background-color: bisque; */
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
    margin-top: 0px;
    /* border: 2px solid blue; */
    
}
.a1 , .a2 ,.a3 , .b1 , .b2 , .b3 {
    height: 200px;
    width: 400px;
    /* background-color: red; */
    /* margin-top: 25px; */
    /* border: 2px solid rgb(65, 38, 65); */
    border-radius: 5px;

}
h2{
    color: aliceblue;
}
p{
    text-align: center;
    padding: 10px;

}
.photo{
    color: aliceblue;
}
.available2{
    display: flex;
}
.foot{
    height: 200px;
    
    /* background-color: burlywood; */
    border: white;
}
footer{
background-color: black;
display: flex;
justify-content: space-around;
text-align: left;
padding-top: 20px;
align-items: left;
box-shadow:  0 0 5PX violet;

}
footer h2 {
    color: black;
}
footer ul {
    flex-direction: column;
    align-items: left;
    margin-top: 20px;
    color: azure;
    /* box-shadow:  0 0 5PX CYAN; */
}

li:hover{
  color: red;
}
.social{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;

}
.slogan{
    position: absolute;
    z-index: 1;
    color: white;
    top: 60%;
    font-size: 50px;
    left: 280px;
    border-right: .15rem solid white;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 12s steps(60,end) infinite ;
}
@keyframes typing{
    0%{
        width: 0;
    }
    50%{
        width: 100%;
    }
}
.search{
    border-radius: 5px;
}
.br1,.br2,.br3{
    color:#fff;
}
.sl2{
    position: absolute;
    z-index: 1;
    color: white;
    top: 70%;
    font-size: 50px;
    left: 280px;
    border-right: .15rem solid white;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 12s steps(40,end) infinite ;
}
@keyframes typing{
    0%{
        width: 0;
    }
    50%{
        width: 70%;
    } 
}

.container{
    background-color: aliceblue;
    height:auto;
    width: 300px;
    padding:3%;
    /* margin: 15% 0% 0%; */
    /* margin-right:100px; */
    /* margin-left: 500px; */
    border-radius: 10px;
    position: static;
    font-size: 20px;
    position: absolute;
    top: 70px;
    left: 35%;
    z-index: 1000;
    display: none;
    position: fixed;
    box-shadow: 0 0 0 600px rgba(0, 0, 0, 0.664);

}
#username , #password ,#mail , #number{
    border:none;
    border-bottom: 2px solid black;
    margin: 25px 0px 25px;
    width: 100%;

    
}

#button{
    background-color: rgb(246, 9, 167);
    /* height: 30px; */
    width: 100%;
    font-size: 15px;
    color: white;
    padding: 10px 0px;
}
#username:focus{
    outline:none;
     border-bottom: 2px solid lightcoral;
    }
    #password:focus{
        outline:none;
         border-bottom: 2px solid lightcoral;
        }
        #mail:focus , #number:focus{
            outline: none;
            border-bottom: 2px solid lightcoral;
        }

        .show{
            display:block;
        }

        #contact-btn{
            background-color: transparent;
            color: white;
            font-size: 16px;
            border: none;

        }
        #cancle{
            top: 0px;
            /* background-color: aqua; */
            /* height: 100px; */
            margin-bottom:20px;
            margin-left:280px;
         /* background-color: aqua; */
        }
            
       